.sidebar-right {
  z-index: 10006;
}

.mask-lorder {
  z-index: 10008;
}

header {
  z-index: 10003;
}

.header__logo {
  z-index: 10004;
}

.menu-trigger-wrapper {
  z-index: 10007;
}

.sidebar-left-wrapper {
  z-index: 10002;
}

.mask, .header-overlay {
  z-index: 10005;
}

.scroll__arrow-wrapper {
  z-index: 10001;
}
