@charset "UTF-8";
@font-face {
  font-family: garamond;
  src: url("garamond.ttf");
}

/* Lv.2 ### 分子(MOLECULES) ========
原子と原子を組み合わせたパーツの設定。
================================== */
/* 全体 ==========================*/
/* 自作パーツ ==========================*/
/* ボタン ---------------------------*/
.btn-more {
  background-color: #fff;
  color: #000;
}

div.btn-map {
  width: 52px;
  height: 20px;
}

.btn-white {
  cursor: pointer;
  width: 140px;
  height: 50px;
  float: left;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 0 40px 50px;
}

.btn-white .eff-wip {
  width: 140px;
  height: 50px;
  left: -140px;
  position: absolute;
  transition: all 0.5s ease;
}

.btn-white a {
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  position: relative;
}

.btn-map:hover a {
  letter-spacing: 0.1em;
}

.btn-map:hover .eff-wip {
  left: 0;
}

.button-contact_us {
  width: 162px;
  height: 40px;
  font-size: 1.375em;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.button-contact_us .eff-wip {
  width: 100%;
  height: 40px;
  left: -100%;
  position: absolute;
  transition: all 0.5s ease;
}

.button-contact_us a {
  text-decoration: none;
  line-height: 40px;
  transition: all 0.5s ease;
  position: relative;
}

.button-contact_us:hover a {
  letter-spacing: 0.1em;
}

.button-contact_us:hover .eff-wip {
  left: 0%;
}

/*  ヘッダーのオーバーレイ ------------------- */
.header-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}

.header-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* サイドバー右 ---------------------------*/
aside.sidebar-right {
  position: fixed;
  background-color: #000;
  transform: translateX(100%);
  transition: all 0.4s;
  top: 0;
  right: 0;
}

.sidebar-right.active {
  transform: translateX(0%);
}

/* CSS ハンバーガーメニュー ==========================*/
.menu-trigger-wrapper {
  height: 18px;
  right: 60px;
  position: fixed;
  transition: all 0.4s cubic-bezier(1, -3, 1, 4);
}

.menu-trigger-wrapper .btn-trigger {
  width: 36px;
  height: 18px;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 767px) {
  .menu-trigger-wrapper .btn-trigger {
    width: 26px;
    height: 12px;
  }
  .menu-trigger-wrapper .btn-trigger span:nth-of-type(2) {
    top: 6px;
  }
  .menu-trigger-wrapper .btn-trigger span:nth-of-type(3) {
    top: 12px;
  }
}

.menu-trigger-wrapper .btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger-wrapper .btn-trigger,
.menu-trigger-wrapper .btn-trigger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}

.menu-trigger-wrapper .btn-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger-wrapper .btn-trigger span:nth-of-type(2) {
  top: 8px;
}

@media screen and (max-width: 767px) {
  .menu-trigger-wrapper .btn-trigger span:nth-of-type(2) {
    top: 6px;
  }
}

.menu-trigger-wrapper .btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger-wrapper .btn-trigger.active span {
  background-color: #fff !important;
}

.menu-trigger-wrapper .btn-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-315deg);
  transform: translateY(8px) rotate(-315deg);
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .menu-trigger-wrapper .btn-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-315deg);
    transform: translateY(6px) rotate(-315deg);
    background-color: #fff;
  }
}

.menu-trigger-wrapper .btn-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger-wrapper .btn-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(315deg);
  transform: translateY(-8px) rotate(315deg);
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .menu-trigger-wrapper .btn-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(315deg);
    transform: translateY(-6px) rotate(315deg);
    background-color: #fff;
  }
}

.menu-trigger-wrapper:hover {
  transform: scale(1.25);
}

.menu-trigger-black.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
}

/* MV ==============================*/
/* ポートフォリオ =========================*/
.card-item {
  height: auto;
}

.card-item .card-tmb {
  margin-bottom: 25px;
}

/* ワークス ==========================*/
.pagenation__btn-wrapper,
.slider__btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pagenation__btn-wrapper .slick-arrow,
.slider__btn-wrapper .slick-arrow {
  cursor: pointer;
}

.pagenation__btn-wrapper .”slick-prev”,
.slider__btn-wrapper .”slick-prev” {
  position: relative;
}

.pagenation__btn-wrapper .”slick-prev”::after,
.slider__btn-wrapper .”slick-prev”::after {
  position: absolute;
}

.pagenation__btn-wrapper .”slick-next”,
.slider__btn-wrapper .”slick-next” {
  position: relative;
}

.pagenation__btn-wrapper .”slick-next”::after,
.slider__btn-wrapper .”slick-next”::after {
  position: absolute;
}

.works_slider-btn-wrapper .”slick-prev”::after {
  content: url(../images/arrow_prev.png);
}

.works_slider-btn-wrapper .”slick-next”::after {
  content: url(../images/arrow_next.png);
}

.csr_slider-btn-wrapper .”slick-prev” {
  color: #000;
}

.csr_slider-btn-wrapper .”slick-prev”::after {
  content: url(../images/arrow_prev_br.png);
}

.csr_slider-btn-wrapper .”slick-next” {
  color: #000;
}

.csr_slider-btn-wrapper .”slick-next”::after {
  position: absolute;
  content: url(../images/arrow_next_br.png);
}

.”slick-next”.slick-arrow.slick-disabled,
.”slick-prev”.slick-arrow.slick-disabled {
  opacity: 0.2;
  opacity: 0.5;
  pointer-events: none;
}

.pagenation__btn-wrapper .pagenation-prev {
  position: relative;
}

.pagenation__btn-wrapper .pagenation-prev::after {
  position: absolute;
  content: url(../images/arrow_prev_br.png);
  top: 7px;
  right: 0;
  transition: all 0.2s;
}

.pagenation__btn-wrapper .pagenation-prev:hover::after {
  right: 8px;
}

.pagenation__btn-wrapper .pagenation-next {
  position: relative;
}

.pagenation__btn-wrapper .pagenation-next::after {
  position: absolute;
  content: url(../images/arrow_next_br.png);
  top: 7px;
  left: 0;
  transition: all 0.2s;
}

.pagenation__btn-wrapper .pagenation-next:hover::after {
  left: 8px;
}

.pagenation__btn-wrapper {
  margin: 0 auto;
  width: 87px;
  cursor: pointer;
  height: 20px;
}

/* スライダーの中身 */
.slide_tmb {
  display: block;
  overflow: hidden;
}

.slide_tmb .slide_tmb-mask {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  pointer-events: none;
  transition: all 0.5s;
}

.slide_tmb .background-image {
  position: absolute;
  background: #000 no-repeat center center;
  background-size: cover;
  transition: all 0.5s ease-out;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  will-change: transform;
}

@media screen and (max-width: 767px) {
  .slide_tmb {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .slide_tmb .background-image {
    width: 100%;
    background: #000 no-repeat center left;
    background-size: cover;
  }
}

.slide_tmb:hover .background-image {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.9);
}

.slide_tmb:hover .slide_tmb-mask {
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.9);
}

.info-wrapper-pc {
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.info-wrapper-pc .info-category {
  display: block;
}

.info-wrapper-pc .info-ttl {
  display: block;
}

@media screen and (max-width: 767px) {
  .info-wrapper-pc {
    justify-content: flex-end;
    flex-direction: column;
  }
  .info-wrapper-pc .info-category {
    display: block;
  }
  .info-wrapper-pc .info-ttl {
    display: block;
  }
}

/* ニュース ==========================*/
/* ニュース１ユニット ---------------------------*/
.news__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.news__item .news__item-date {
  height: 100%;
  width: 120px;
}

.news__item .news__item-txt-wrapper .news__item-ttl {
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .news__item {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .news__item .news__item-date {
    height: auto;
    width: 100%;
  }
  .news__item .news__item-txt-wrapper .news__item-ttl {
    margin-bottom: 12px;
  }
}

/* カンパニー ==========================*/
/* 会社情報 ---------------------------*/
li.profile__info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  li.profile__info {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

/* リクルート ========================*/
.career__accordion dt.career__accordion-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.career__accordion dt.career__accordion-header.is-active dd.career__accordion_body {
  display: block;
  opacity: 1;
}

.career__accordion dt.career__accordion-header .career__accordion-switch {
  display: block;
  cursor: pointer;
}

.career__accordion dd.career__accordion_body {
  display: none;
}

@media screen and (max-width: 767px) {
  .career__accordion {
    border-top: 1px #000 solid;
  }
  .career__accordion:last-child {
    border-bottom: 1px #000 solid;
  }
  .career__accordion dt.career__accordion-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .career__accordion dt.career__accordion-header.is-active dd.career__accordion_body {
    display: block;
    opacity: 1;
  }
  .career__accordion dt.career__accordion-header .career__accordion-switch {
    position: absolute;
    display: block;
    cursor: pointer;
  }
  .career__accordion dd.career__accordion_body {
    display: none;
  }
}

@keyframes rotation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.8) rotate(0deg);
  }
  100% {
    transform: scale(1.8) rotate(45deg);
  }
}

.career__accordion-switch span, .career__accordion-switch span:before, .career__accordion-switch span:after {
  content: "";
  display: block;
  height: 2px;
  width: 14px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  transition: all 0.2s;
}

.career__accordion-switch span {
  background-color: rgba(255, 255, 255, 0);
}

.career__accordion-switch span:after {
  transform: rotate(90deg);
}

.career__accordion-switch.is-active span:before {
  transform: rotate(45deg);
}

.career__accordion-switch.is-active span:after {
  transform: rotate(135deg);
}

.career__accordion-switch:hover span {
  transform: scale(1.2);
}

/* コンタクト ========================*/
/* フッター =========================*/
h1.footer__logo {
  font-size: 40px;
  font-family: "garamond", sans-serif;
}

/* コンタクトフォームページ用 ===========*/
/* フォーム ---------------------------*/
.input__unit {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
  .input__unit .input__unit {
    flex-wrap: wrap;
  }
  .input__unit .input__unit .input__unit-input {
    width: 100%;
  }
  .input__unit .input__unit .input__unit-textarea {
    width: 100%;
  }
}

.scroll__arrow {
  width: 35px;
  height: 105px;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.scroll__arrow .scroll__arrow-arrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  height: 72px;
}

.scroll__arrow img.scroll_btn_msg {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* やじるし ---------------------------*/
.arrow span {
  display: block;
  width: 2px;
  height: 70px;
  position: relative;
  transform: scale(0, 1);
  transform-origin: top left;
  animation: arrow01 4s ease-in-out infinite forwards;
}

@keyframes arrow01 {
  0% {
    transform: scale(1, 0);
  }
  30% {
    transform: scale(1, 0);
  }
  40% {
    transform: scale(1, 1);
  }
  85% {
    transform: scale(1, 1);
    opacity: 1;
  }
  90% {
    transform: scale(1, 1);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.arrow span::after {
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  transform: rotate(20deg) scale(1);
  transform-origin: right bottom;
  position: absolute;
  bottom: 1px;
  right: 0px;
  animation: arrow02 4s ease-in-out infinite forwards;
}

@keyframes arrow02 {
  0% {
    transform: rotate(20deg) scale(1, 0);
  }
  45% {
    transform: rotate(20deg) scale(1, 0);
  }
  55% {
    transform: rotate(20deg) scale(1, 1);
  }
  85% {
    transform: rotate(20deg) scale(1, 1);
    opacity: 1;
  }
  90% {
    transform: rotate(20deg) scale(1, 1);
    opacity: 0;
  }
  100% {
    transform: rotate(20deg) scale(1, 1);
    opacity: 0;
  }
}

.black-arrow .arrow span {
  background-color: #000;
}

.black-arrow .arrow span::after {
  border-right: 2px solid #000;
}

.white-arrow .arrow span {
  background-color: #fff;
}

.white-arrow .arrow span::after {
  border-right: 2px solid #fff;
}

/* 入力内容確認データ ---------------------------*/
dl.input-confirmation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 44px;
}

dl.input-confirmation dt.input-confirmation-ttl {
  width: 160px;
  font-family: "Yu Mincho Demibold", "YuMincho Demibold", sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
  margin-right: 20px;
  display: block;
}

dl.input-confirmation dd.input-confirmation-data {
  font-family: "Yu Mincho Demibold", "YuMincho Demibold", sans-serif;
  font-weight: Medium;
  font-size: 1em;
  text-align: left;
  line-height: 1.4;
  width: calc(100% - 180px);
}

@media (max-width: 670px) {
  dl.input-confirmation {
    flex-wrap: wrap;
    margin-bottom: 58px;
  }
  dl.input-confirmation:last-child {
    margin-bottom: 80px;
  }
  dl.input-confirmation dt.input-confirmation-ttl {
    width: 160px;
    font-family: "Yu Mincho Demibold", "YuMincho Demibold", sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    margin-right: 0;
    margin-bottom: 25px;
  }
  dl.input-confirmation dd.input-confirmation-data {
    font-family: "Yu Mincho Demibold", "YuMincho Demibold", sans-serif;
    font-weight: Medium;
    font-size: 1em;
    text-align: left;
    line-height: 1.4;
    width: 100%;
  }
}
