@import "_values";

/* Lv.2 ### 分子(MOLECULES) ========
原子と原子を組み合わせたパーツの設定。
================================== */
/* 全体 ==========================*/
/* 自作パーツ ==========================*/
/* ボタン ---------------------------*/
.btn-more {
  background-color: #fff;
  color: #000;
}

// マップボタン
div.btn-map {
  width: 52px;
  height: 20px;
}

// ボタン白
.btn-white {
  cursor: pointer;
  width: 140px;
  height: 50px;
  float: left;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 0 40px 50px;
  .eff-wip {
    width: 140px;
    height: 50px;
    left: -140px;
    position: absolute;
    transition: all 0.5s ease;
    // z-index: 1;
  }
  a {
    text-decoration: none;
    line-height: 50px;
    transition: all 0.5s ease;
    // z-index: 2;
    position: relative;
  }
}
.btn-map:hover {
  a {
    letter-spacing: 0.1em;
  }
  .eff-wip {
    left: 0;
  }
}

// コンタクトアスボタン
.button-contact_us {
  width: 162px;
  height: 40px;
  font-size: $em-22px;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  // margin: 0 0 40px 50px;
  .eff-wip {
    width: 100%;
    height: 40px;
    left: -100%;
    position: absolute;
    transition: all 0.5s ease;
    // z-index: 1;
  }
  a {
    text-decoration: none;
    line-height: 40px;
    transition: all 0.5s ease;
    // z-index: 2;
    position: relative;
  }
  &:hover {
    a {
      letter-spacing: 0.1em;
    }
    .eff-wip {
      left: 0%;
    }
  }
}

/*  ヘッダーのオーバーレイ ------------------- */
.header-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

/* サイドバー右 ---------------------------*/
aside.sidebar-right {
  position: fixed;
  background-color: #000;
  transform: translateX(100%);
  transition: all 0.4s;
  top: 0;
  right: 0;
}
.sidebar-right.active {
  transform: translateX(0%);
}

/* CSS ハンバーガーメニュー ==========================*/
.menu-trigger-wrapper {
  height: 18px;
  right: 60px;
  position: fixed;
  transition: all 0.4s cubic-bezier(1, -3, 1, 4);
  .btn-trigger {
    width: 36px;
    height: 18px;
    cursor: pointer;
    top: 20px;
    right: 20px;
    @include mq-down() {
      width: 26px;
      height: 12px;
      span:nth-of-type(2) {
        top: 6px;
      }
      span:nth-of-type(3) {
        top: 12px;
      }
    }
  }

  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-white;
    // background-color: gray;
    border-radius: 4px;
  }

  .btn-trigger,
  .btn-trigger span {
    display: inline-block;
    transition: all 0.5s;
    box-sizing: border-box;
  }

  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }

  .btn-trigger span:nth-of-type(2) {
    top: 8px;
    @include mq-down {
      top: 6px;
    }
  }

  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .btn-trigger.active span {
    background-color: #fff !important;
  }

  .btn-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    background-color: #fff;
    @include mq-down() {
      -webkit-transform: translateY(20px) rotate(-315deg);
      transform: translateY(6px) rotate(-315deg);
      background-color: #fff;
    }
  }

  .btn-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .btn-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(315deg);
    transform: translateY(-8px) rotate(315deg);
    background-color: #fff;
    @include mq-down() {
      -webkit-transform: translateY(-20px) rotate(315deg);
      transform: translateY(-6px) rotate(315deg);
      background-color: #fff;
    }
  }
  &:hover {
    transform: scale(1.25);
  }
}
.menu-trigger-black.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
}
/* MV ==============================*/

/* ポートフォリオ =========================*/
// カード
.card-item {
  height: auto;
  .card-tmb {
    margin-bottom: 25px;
  }
}

/* ワークス ==========================*/

// スライダーページ送りボタン
.pagenation__btn-wrapper,
.slider__btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .slick-arrow {
    cursor: pointer;
  }
  .”slick-prev” {
    position: relative;
    &::after {
      position: absolute;
    }
  }
  .”slick-next” {
    position: relative;
    &::after {
      position: absolute;
    }
  }
}

// スライダーページ送りボタン(白)
.works_slider-btn-wrapper {
  .”slick-prev” {
    &::after {
      content: url(../images/arrow_prev.png);
    }
  }
  .”slick-next” {
    &::after {
      content: url(../images/arrow_next.png);
    }
  }
}

//スライダーのページ送りボタン(黒)
.csr_slider-btn-wrapper {
  .”slick-prev” {
    color: #000;
    &::after {
      content: url(../images/arrow_prev_br.png);
    }
  }
  .”slick-next” {
    color: #000;
    &::after {
      position: absolute;
      content: url(../images/arrow_next_br.png);
    }
  }
}
.”slick-next”.slick-arrow.slick-disabled,
.”slick-prev”.slick-arrow.slick-disabled {
  opacity: 0.2;
  opacity: 0.5;
  pointer-events: none;
}

//固定ページのボタンラッパー(黒)
.pagenation__btn-wrapper {
  .pagenation-prev {
    position: relative;
    &::after {
      position: absolute;
      content: url(../images/arrow_prev_br.png);
      top: 7px;
      right: 0;
      transition: all 0.2s;
    }
    &:hover {
      &::after {
        right: 8px;
      }
    }
  }
  .pagenation-next {
    position: relative;
    &::after {
      position: absolute;
      content: url(../images/arrow_next_br.png);
      top: 7px;
      left: 0;
      transition: all 0.2s;
    }
    &:hover {
      &::after {
        left: 8px;
      }
    }
  }
}
.pagenation__btn-wrapper {
  margin: 0 auto;
  width: 87px;
  cursor: pointer;
  height: 20px;
}

/* スライダーの中身 */

// スライダーのサムネイル
.slide_tmb {
  display: block;
  overflow: hidden;
  .slide_tmb-mask {
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    pointer-events: none;
    transition: all 0.5s;
    // z-index: 1;
  }
  // この要素がサムネイル本体
  .background-image {
    position: absolute;
    background: #000 no-repeat center center;
    background-size: cover;
    transition: all 0.5s ease-out;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    will-change: transform;
  }
  @include mq-down() {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    .background-image {
      width: 100%;
      background: #000 no-repeat center left;
      background-size: cover;
    }
  }
  &:hover {
    .background-image {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.9);
    }
    .slide_tmb-mask {
      opacity: 0;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.9);
    }
  }
}
.info-wrapper-pc {
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  .info-category {
    display: block;
  }
  .info-ttl {
    display: block;
  }
  @include mq-down() {
    justify-content: flex-end;
    flex-direction: column;
    .info-category {
      display: block;
    }
    .info-ttl {
      display: block;
    }
    .btn-more {
    }
  }
}

/* ニュース ==========================*/
/* ニュース１ユニット ---------------------------*/
.news__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .news__item-date {
    height: 100%;
    width: 120px;
  }
  .news__item-txt-wrapper {
    .news__item-ttl {
      margin-bottom: 12px;
    }
    .news__item-desc {
    }
  }
  @include mq-down() {
    flex-wrap: wrap;
    justify-content: flex-start;
    .news__item-date {
      height: auto;
      width: 100%;
    }
    .news__item-txt-wrapper {
      .news__item-ttl {
        margin-bottom: 12px;
      }
      .news__item-desc {
      }
    }
  }
}

/* カンパニー ==========================*/
/* 会社情報 ---------------------------*/

li.profile__info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  div.profile__info-ttl {
    // width: 25%;
  }
  div.profile__info_desc {
    // width: 75%;
  }
  @include mq-down() {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

/* リクルート ========================*/
// アコーディオン
.career__accordion {
  // padding: 27px 27px;

  dt.career__accordion-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &.is-active {
      dd.career__accordion_body {
        display: block;
        opacity: 1;
      }
    }
    .career__accordion-switch {
      display: block;
      cursor: pointer;
    }
  }
  dd.career__accordion_body {
    display: none;

    .career__content-unit {
      p.career__content-txt {
        // display: inline-block;
      }
    }
  }
  @include mq-down() {
    border-top: 1px $color-back solid;
    &:last-child {
      border-bottom: 1px $color-back solid;
    }
    dt.career__accordion-header {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &.is-active {
        dd.career__accordion_body {
          display: block;
          opacity: 1;
        }
      }
      .career__accordion-switch {
        position: absolute;
        display: block;
        cursor: pointer;
      }
    }
    dd.career__accordion_body {
      display: none;
      .career__content-unit {
        &:last-child {
        }
        h3.career__content-ttl {
        }
        p.career__content-txt {
        }
      }
      tr {
      }
      .treatment-ttl {
      }
      .treatment-txt {
      }
    }
  }
}
@keyframes rotation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.8) rotate(0deg);
  }
  100% {
    transform: scale(1.8) rotate(45deg);
  }
}

// アコーディオンボタン
.career__accordion-switch {
  span {
    &,
    &:before,
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 14px;
      border-radius: 3px;
      background-color: $bg_c-Main;
      position: absolute;
      // transition: all 0.2s cubic-bezier(1, -3, 1, 4);
      transition: all 0.2s;
    }
    & {
      background-color: rgba($color: $bg_c-Main, $alpha: 0);
    }
    &:after {
      transform: rotate(90deg);
    }
  }
  &.is-active span {
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(135deg);
    }
  }

  &:hover {
    span {
      transform: scale(1.2);
    }
  }
}

/* コンタクト ========================*/

/* フッター =========================*/
// フッターロゴ
h1.footer__logo {
  font-size: 40px;
  font-family: $font_family-brand;
}

/* コンタクトフォームページ用 ===========*/
/* フォーム ---------------------------*/
.input__unit {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: nowrap;
  .input__unit-label {
  }
  .input__unit-input {
  }
  .input__unit-textarea {
  }
  @include mq-down() {
    .input__unit {
      flex-wrap: wrap;

      .input__unit-input {
        width: 100%;
      }
      .input__unit-textarea {
        width: 100%;
      }
    }
  }
}

.scroll__arrow {
  width: 35px;
  height: 105px;
  flex-wrap: nowrap;
  align-items: flex-end;
  .scroll__arrow-arrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;
    height: 72px;
  }
  img.scroll_btn_msg {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* やじるし ---------------------------*/

.arrow {
  span {
    display: block;
    width: 2px;
    height: 70px;
    position: relative;
    transform: scale(0, 1);
    transform-origin: top left;
    animation: arrow01 4s ease-in-out infinite forwards;
  }
  @keyframes arrow01 {
    0% {
      transform: scale(1, 0);
    }
    30% {
      transform: scale(1, 0);
    }
    40% {
      transform: scale(1, 1);
    }
    85% {
      transform: scale(1, 1);
      opacity: 1;
    }
    90% {
      transform: scale(1, 1);
      opacity: 0;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  span::after {
    content: "";
    display: block;
    width: 8px;
    height: 12px;
    transform: rotate(20deg) scale(1);
    transform-origin: right bottom;
    position: absolute;
    bottom: 1px;
    right: 0px;
    animation: arrow02 4s ease-in-out infinite forwards;
  }
  @keyframes arrow02 {
    0% {
      transform: rotate(20deg) scale(1, 0);
    }
    45% {
      transform: rotate(20deg) scale(1, 0);
    }
    55% {
      transform: rotate(20deg) scale(1, 1);
    }
    85% {
      transform: rotate(20deg) scale(1, 1);
      opacity: 1;
    }
    90% {
      transform: rotate(20deg) scale(1, 1);
      opacity: 0;
    }
    100% {
      transform: rotate(20deg) scale(1, 1);
      opacity: 0;
    }
  }
}

// 黒のバージョン
.black-arrow {
  .arrow span {
    background-color: #000;
  }
  .arrow span::after {
    border-right: 2px solid #000;
  }
}

// 白のバージョン
.white-arrow {
  .arrow span {
    background-color: #fff;
  }
  .arrow span::after {
    border-right: 2px solid #fff;
  }
}

/* 入力内容確認データ ---------------------------*/

dl.input-confirmation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 44px;
  dt.input-confirmation-ttl {
    width: 160px;
    font-family: $font_family-MinchoB;
    font-weight: bold;
    font-size: $em-16px;
    text-align: right;
    margin-right: 20px;
    display: block;
  }
  dd.input-confirmation-data {
    font-family: $font_family-MinchoB;
    font-weight: Medium;
    font-size: $em-16px;
    text-align: left;
    line-height: 1.4;
    width: calc(100% - 180px);
  }
}

@media (max-width: 670px) {
  dl.input-confirmation {
    flex-wrap: wrap;
    margin-bottom: 58px;
    &:last-child {
      margin-bottom: 80px;
    }
    dt.input-confirmation-ttl {
      width: 160px;
      font-family: $font_family-MinchoB;
      font-weight: bold;
      font-size: $em-16px;
      text-align: left;
      margin-right: 0;
      margin-bottom: 25px;
    }
    dd.input-confirmation-data {
      font-family: $font_family-MinchoB;
      font-weight: Medium;
      font-size: $em-16px;
      text-align: left;
      line-height: 1.4;
      width: 100%;
    }
  }
}
